.log-container {
    background-color: #6db035;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px 0px 20px 0px;
    margin: 27px auto 12px;
    width: calc(100% - 20px);
    max-width: 1200px;
    justify-content: center;
    min-width: 300px;
    align-self: center;
  }
  
  .recent-title-container {
    border-radius: 20px;
    border: 5px solid #245a1e;
    width: 100%;
    background-color: #e0e6b2;
    padding: 10px;
  }
  
  .recent-title-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #245a1e;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgb(129, 129, 129);
    font-size: clamp(1.2rem, 4vw, 1.6rem);
    text-align: center;
    padding: 5px;
  }

  .recent-activity-container h2{
    text-align: left !important;
    font-size: 1.2rem;
  }
  
  .activity-list {
    list-style: none;
    height: 250px;
    overflow-y: auto;
    background-color: transparent;
    width: 100%;
    margin-bottom: 0;
  }
  
  .activity-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 0.8rem;
    background-color: transparent;
    border-radius: 8px;
    border-top: none !important;
    border-bottom:3px solid #505050b4 !important;
    padding: 12px 16px !important;
    margin-bottom: 12px;
    width: 100%;
    align-items: flex-start;
  }

  .activity-result {
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 0.85rem;
    width: fit-content;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
  }
  
  .activity-result.pending {
    background-color: #fff3cd;
    color: #856404;
  }

  .activity-result.approved {
    background-color: #d4edda;
    color: #155724;
  }
  
  .activity-result.rejected {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .activity-id {
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 100%;
  }
  
  .activity-status {
    color: #008000;
    text-align: left;
    width: 100%;
  }
  
  .activity-date {
    color: #777;
    text-align: left;
    width: 100%;
  }

  .recent-activity-container{
    background-color: #e0e6b2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 20px 12px 12px 12px;
    padding: 10px;
  }

  .recent-activity-container h2{
    color: #245a1e;
    text-align: center;
  }