.user-sidebar-logo {
    width: 55%;
    margin-top: 100px;
    margin-left: -20px;
}

.navShown {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    z-index: 999;
    background-color: #8dd7d7;
    transition: 0.5s;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.navHidden {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0%;
    z-index: 999;
    background-color: #8dd7d7;
    overflow: hidden;
    transition: 0.5s;
}

.toggleBtn {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 2.5rem;
    color: #70cf00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.divider {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 20px;
    margin-top: -30px;
}

.user-sidebar-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.5s;
}


.user-sidebar-ul  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid gray;
    transition: 0.3s;
    background-color: #8dd7d7;
}

.user-sidebar-ul li:hover, .user-sidebar-ul .active li{
    background-color: #3abc7d;
    color: white;
}

.user-sidebar-ul a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
}


nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80%;
    height: 40px;
    margin: 20px auto; 
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #3abc7d;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

nav button:hover {
    background-color: #3abc7d;
}
