.profile-container {
    border: 4px solid #284d3c;
    width: 100%;
    max-width: 100%; 
    height: fit-content; 
    border-radius: 20px;
    background-color: #70b536;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

.profile-container img.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
    object-fit: cover; 
}

.profile-initial-avatar {
    width: 80px;
    height: 80px;
    background: #40662c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 5px;
    user-select: none;
}

.profile-details {
    flex-grow: 1;
    color: #386641;
    text-align: left;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.profile-details h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e5e5e5;
    font-weight: bold;
}

.profile-details p.user-id,
.profile-details p.user-email {
    font-size: clamp(0.8rem, 2vw, 0.7rem);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e5e5e5;
}

.progress-bar-container {
    background-color: #e5e5e5;
    border-radius: 20px;
    height: 30px;
    width: 100%;
    padding: 3px;
    position: relative;
    box-sizing: border-box;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.progress-bar {
    background-color: #d1d5a1;
    height: 100%;
    border-radius: 20px;
    border-bottom: 5px solid #82935b;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    color:#243b55;
    font-weight: 600;
    font-size: 10px;
    box-sizing: border-box;
}

.progress-text-outside {
    position: absolute;
    right: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #243b55;
    white-space: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}