.badgetable-container{
    background-color: #dfe0d0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 30px;
    width: 100%;
}

.badge-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.badge-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
}

.left-controls,
.right-controls {
    flex: 1;
    display: flex;
    align-items: center;
}

.left-controls {
    justify-content: flex-start;
}

.right-controls {
    justify-content: flex-end;
}

.sort-dropdown {
    padding: 8px;
    border-radius: 5px;
    background-color: #dfe0d0;
    border: 1px solid #aaa;
}

.add-button {
    padding: 8px 14px;
    background-color: #118653;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.badge-table-wrapper {
    width: 100%;
}

.badge-table-body-wrapper {
    background-color: #dfe0d0;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #dfe0d0; 
}

/* For Chrome, Edge, Safari */
.badge-table-body-wrapper::-webkit-scrollbar {
    width: 6px;
}

.badge-table-body-wrapper::-webkit-scrollbar-track {
    background: #dfe0d0;
    border-radius: 10px;
}

.badge-table-body-wrapper::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

.badge-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.badge-table th, .badge-table td {
    border: 1px solid #afafaf;
    padding: 20px;
    text-align: center;
}

.badge-table th {
    background-color: #dfe0d0;
    font-weight: 600;
}

.badge-table tbody tr {
    background-color: #dfe0d0; /* or any color you want */
}

.badge-table button {
    width: 120px;
    padding: 8px 12px;
    border-radius: 15px !important;
    border: none;
    background-color: #76b182;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}