html, body {
  height: 100%;
  margin: 0;
  background-color: #c4cfc5;
}

.reward-management-container {
  padding: 20px 30px;
  height: 100%;
  margin-left: 18%;
  box-sizing: border-box;
}

.rewards-table-container {
  margin-top: 20px;
  background-color: #dfe0d0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 25px;
  border-radius: 25px;
  min-height: 50%;
  width: 100%;
}

.reward-header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}


.sort-dropdown {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 8px 35px 8px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #888;
}

.rewards-table-wrapper {
  overflow-x: auto;
}

.rewards-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1px;
  background-color: #dfe0d0;
}

.rewards-table thead th{
position: sticky;
  top: 0;
  background-color: #dfe0d0;
  z-index: 2;
  font-weight: 600;
  text-align: center;
  font-size: 0.8rem;
  padding: 20px;
  background-color: #dfe0d0;
  border: 1px solid #afafaf;
}
.rewards-table th,
.rewards-table td {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 0.7rem;
    border: 1px solid #afafaf;
}

.rewards-table th {
  background-color: #a8bfa1;
  color: rgb(9, 9, 9);
}

.rewards-table input,
.rewards-table select {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.desc-input-box{
    height: 60px;
    padding: 5px;
    width: 100%;
}

.image-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.pagination-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.preview-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.reward-management-container .pagination-controls {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
}

.pagination-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.reward-table-btn {
  width: 100%;;
  padding: 15px 15px;
  justify-content: center;
  margin: 2px 0;
  /* Add any other custom styles you want for table buttons */
}

/* Optionally, center the buttons in the table cell */
.rewards-table td {
  text-align: center;
  vertical-align: middle;
}
